backend:
  name: git-gateway
  branch: main

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "products"
    label: "Products"
    files:
      - file: "static/data/products.json"
        label: "Product List"
        name: "products"
        format: "json"
        fields:
          - label: "Products"
            name: "products"
            widget: "list"
            summary: "{{fields.name}} - {{fields.price}}원"
            fields:
              - { label: "Name", name: "name", widget: "string" }
              - { label: "Price", name: "price", widget: "number" }
              - { label: "Image", name: "image", widget: "image" }
              - label: "Detail Images"
                name: "detailImages"
                widget: "list"  # 다중 이미지 리스트로 변경
                fields:
                  - { label: "Image", name: "image", widget: "image" }
